
.accordion__section {
  display: flex;
  flex-direction: column;
}

.accordion {
  cursor: pointer;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  transition:  0.6s ease;
}

.accordion__title {
  font-size: 18px;
  text-align: left;
  color: #575454;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.04em;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  overflow: hidden;
  border-bottom: 1px solid var(--color-dark-2);
  transition: max-height 0.6s ease;
}

.accordion__text {
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
  color: #000;
  font-family: 'BezierSans-Light';
}
