@use '../helpers' as *;

.button{
    padding: rem(10);
    border-radius: rem(8);
    transition: var(--transition-duration);
    font-family: 'BezierSans-Bold';
    color: var(--color-dark);
    border: 1px solid var(--color-dark-2);
    background: rgb(221,255,116);
    background: linear-gradient(40deg, rgba(221,255,116,1) 0%, rgba(224,255,124,1) 100%);

    &:hover{
        filter: brightness(94%);
    }
}
