.container{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #FFF;
    z-index: 9999;
}
.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  
    &::after,
    &::before {
      content: '';  
      box-sizing: border-box;
      position: absolute;
      width: var(--dot-size, 24px);
      height: var(--dot-size, 24px);
      top: 0;
      background-color: var(--color-1, #FFF);
      border-radius: 50%;
      animation: scale50 1s infinite ease-in-out;
    }
  
    &::before {
      top: auto;
      bottom: 0;
      background-color: var(--color-2, #FF3D00);
      animation-delay: 0.5s;
    }
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes scale50 {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }