.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  

  &::before{
    content: "";
    background: linear-gradient(0deg, #667eea00 0%, #8e7e9d 100%);
    width: 100%;
    height: 500px;
    position: absolute;
    opacity: 0.3;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    animation: backgroundMain 3s ease forwards;
    z-index: -1;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  @keyframes backgroundMain {
    from {
      transform: translate(-50%, -50%);
    }
    to {
      transform: translate(-50%, -0%);
    }
  }

}

.family-title {
  color: #fff;
  margin: 0;
  opacity: 1;
  animation: fadeInTitle 2s ease-in-out forwards;
  
  @keyframes fadeInTitle {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.signature-svg {
  position: absolute;
  right: -50%;
  bottom: -200%;
  width: 200px;
  height: auto;
  color: #fff;
  
  @media (max-width: 768px) {
    width: 150px;
    order: 1;
  }
}

.signature-path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: drawSignature 3s ease-in-out forwards;
  
  @keyframes drawSignature {
    0% {
      stroke-dashoffset: 2000;
      opacity: 1;
    }
    80% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}

