@font-face {
	font-family: 'BezierSans-Bold';
	src: url('../assets/fonts/BezierSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BezierSans-ExtraBold';
	src: url('../assets/fonts/BezierSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BezierSans-Light';
	src: url('../assets/fonts/BezierSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BezierSans-Regular';
	src: url('../assets/fonts/BezierSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'KrasnodarGroteskTrial-Regular';
	src: url('../assets/fonts/KrasnodarGroteskTrial-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

