@use 'helpers' as *;


:root{
	--color-light: #ffffff;
	--color-fon: #F5F5F5;
	--color-dark: #141414;
	--color-dark-2: #413c3c;


	--color-gray-50: #7E7E81; 
	--color-gray-60: #98989A; 

	--color-schadow: #c5c4c4;
	--color-controlsCanvas: #c5c4c4;
	--color-accent: #FFD11A;
	--color-red: #ff5500;

	--border: #{rem(1)} solid var(--color-dark-15);

	--font-family-base: 'BezierSans-Regular', sans-serif;
	--font-family-accent: 'KrasnodarGroteskTrial-Regular', sans-serif;

	--fon-gradient: linear-gradient(40deg, rgba(247,248,243,1) 0%, rgba(239,249,244,1) 50%, rgba(241,248,246,1) 100%);

	--transition-duration: 0.2s;
}
