@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/header';
@use 'blocks/canvas';
@use 'blocks/button';
@use 'blocks/cartPeople';
@use 'blocks/personPage';
@use 'blocks/home';
@use 'blocks/accordion';
@use 'blocks/personPageSwiper';
@use 'blocks/preloader';
@use 'blocks/loader';
@use 'blocks/searchBar';
@use 'blocks/authForm';



